<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="{{ url_for('static', filename = 'js/manifest.json') }}" />
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta name="vapid-public-key" content="{{ vapid_public_key }}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" crossorigin=""></script>
    <!-- #########  FIRE BASE ###################-->
    <script type="module" src="https://www.gstatic.com/firebasejs/9.6.1/firebase-app.js"></script>
    <script type="module" src="https://www.gstatic.com/firebasejs/9.6.1/firebase-messaging.js"></script>

    <!-- #########  FIRE BASE ###################-->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/icon.png') }}" />
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='img/icon.png') }}">
    <meta name="theme-color" content="black" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.2.0/css/bootstrap-colorpicker.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>{% block title %}DartsClub{% endblock %}</title>
    <meta name="description" content="Leagme.com" />
    <meta name="googlebot" content="index,follow" />
    <meta name="author" content="milanmartis" />
    <meta property="fb:pages" content="115401168589113" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="DARTS CLUB" />
    <meta property="og:description" content="Play with sparings" />
    <meta
      property="og:image"
      content="{{url_for('static', filename='img/logo.png')}}"
    />
    <meta
      property="og:url"
      content="https://darts-club-g2oik2cmrq-ew.a.run.app"
    />
    <meta property="og:locale" content="sk_SK" />
    <meta property="og:site_name" content="Leagme.com" />
  </head>
  <body>
    <!--<button id="requestPermissionBtn">Enable Notifications</button>-->
    <script>
      const vapidPublicKey = "{{ vapid_public_key }}";
     // alert(vapidPublicKey);
  </script>

    <!--

      <div class="popup" id="error-popup">
        <div class="popup-content">
          <span class="close" id="close-popup">&times;</span>
          <p id="error-message">Default error message</p>
        </div>
      </div>
    -->
    {% if current_user.id %}

    <div class="container justify-content-center w-100" align="center">

      <nav align="center" class="justify-content-center navbar navbar-expand navbar-dark fixed-bottom" >
        <div class="navbar order-1 dual-collapse2">
          <ul class="navbar-nav">

            <li class="nav-item" style="margin-right: 17px;">
              <a href="/">
              <img
              src="{{ url_for('static', filename='img/logo-head.svg') }}"
              class="filter-green"
              width="73"
            />
              </a>
          </h1>
            </li>
            {% if season %}

            {% if seas.open == true %}
            <li class="nav-item">
              <a href="{{ url_for('views.home', season=seas.id) }}" class="nav-item nav-link">
                Standings
              </a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a href="{{ url_for('views.season_manager', season=seas.id) }}" class="nav-item nav-link">
                Rounds
              </a>
            </li>
            {% endif %}

 
          </ul>
        </div>
        <div class="navbar-dark brand"></div>
        <div class="mx-auto order-0">
          <a class="navbar-brand mx-auto" href="#"></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target=".dual-collapse2"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse order-3 dual-collapse2 justify-content-end" style="text-aling:right; float:right;">
          <ul class="navbar-nav  text-end">
            <li
              class="nav-item justify-content-end"
            >
             <font class="username_text" style="opacity: 0.7;font-size: 90%;text-decoration: none;">
              <a href="{{ url_for('auth.user_details') }}">{{user.first_name}}</a> 
             </font> 
              <a href="{{ url_for('auth.user_details') }}">
                <i class="fa fa-user fa-sm" style="font-size:116%;padding:6px;margin-right: 10px;"></i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      {% endif %}
      
      {% with messages = get_flashed_messages(with_categories=true)
      %} {% if messages %} {% for category, message in messages %} {% if
      category == 'error' %}
      <div class="alert alert-danger alter-dismassable fade show" role="alert">
        <div class="alert {{ category }}">{{ message|capitalize }}</div>
      </div>
      {% else %}
      <div class="alert alert-success alter-dismassable fade show" role="alert">
        <div class="alert {{ category }}">{{ message|capitalize }}</div>
      </div>

      {% endif %} {% endfor %} {% endif %} {% endwith %}
         {% block content %} {%
        endblock %} {% include "footer.html" %}

      </div>
      
      <div class="popup-background" id="cookie-popup">
        <div class="popup-content2">
            <h2>Your privacy matters</h2>
            <p>Cookies and similar technologies are used on our sites to personalise content and ads, 
              provide and improve product features and to analyse traffic on our sites by LeagMe.com, 
              our business partners and authors. You can find further
               details and change your personal settings below. By clicking OK, 
               or by clicking any content on our sites, you agree to the use of these cookies and similar technologies.</p>
            <button onclick="acceptAllCookies()" class="btn btn-sm createforms2">OK</button>
            <button onclick="openSettings()" class="btn btn-sm createforms2">Setting</button>
        </div>
    </div>
  
    <!-- Nastavení souborů cookie -->
    <div class="popup-background" id="cookie-settings" style="display: none;">
        <div class="popup-content2">
            <h2>Setting cookies:</h2>
            <p>Choose your preferences for individual categories of cookies:</p><center>
            Strictly Necessary <br><input type="checkbox" checked disabled id="strictly-necessary"><br>
            Preferences<br><input type="checkbox" checked id="preferences"><br> 
            Statistics <br><input type="checkbox" checked id="statistics"><br> 
            Marketing <br><input type="checkbox" checked id="marketing"><br>
            <button onclick="openSettings2()" class="btn btn-sm createforms2">Back</button>
            <button onclick="saveCookiePreferences()" class="btn btn-sm createforms2">Save</button></center>
        </div>
    </div>


  <!-- JavaScript pro ovládání vyskakovacího okna -->
  <script>


    document.addEventListener("DOMContentLoaded", function() {
      if (document.cookie.indexOf("cookie_consent=accepted") === -1) {
          document.getElementById("cookie-popup").style.display = "block";
      }
  });
      // Funkce pro přijetí všech souborů cookie a zavření vyskakovacího okna
      function acceptAllCookies() {
          // Uložíme informaci o souhlasu do souboru cookie na 365 dní (nastavit podle potřeby)
          document.cookie = "cookie_consent=accepted; expires=" + new Date(new Date().getTime() + 365 * 24 * 60 * 60 * 1000).toUTCString();
          document.getElementById("cookie-popup").style.display = "none";
      }

      // Funkce pro otevření nastavení souborů cookie
      function openSettings() {
          document.getElementById("cookie-popup").style.display = "none";
          document.getElementById("cookie-settings").style.display = "block";
      }
      function openSettings2() {
          document.getElementById("cookie-popup").style.display = "block";
          document.getElementById("cookie-settings").style.display = "none";
      }

      // Funkce pro uložení preferencí souborů cookie a zavření okna
      function saveCookiePreferences() {
          var strictlyNecessary = document.getElementById("strictly-necessary").checked;
          var preferences = document.getElementById("preferences").checked;
          var statistics = document.getElementById("statistics").checked;
          var marketing = document.getElementById("marketing").checked;

          // Zde můžete implementovat kód pro uložení preferencí do souborů cookie nebo jiného úložiště

          // Uložíme informaci o souhlasu do souboru cookie na 365 dní (nastavit podle potřeby)
          document.cookie = "cookie_consent=accepted; expires=" + new Date(new Date().getTime() + 365 * 24 * 60 * 60 * 1000).toUTCString();

          document.getElementById("cookie-settings").style.display = "none";
      }

      // Zkontrolujeme, zda uživatel již udělil souhlas nebo odmítl soubory cookie
      window.onload = function() {
          if (document.cookie.indexOf("cookie_consent=accepted") === -1) {
              document.getElementById("cookie-popup").style.display = "block";
          }
      }
  </script>





    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.2.0/js/bootstrap-colorpicker.min.js"></script>
    <script src="{{ url_for('static', filename='js/brackets.js') }}"></script>




  <script>
    $(document).ready(function() {
      // Find the maximum height of the slides within the carousel
      var maxHeight = 0;
      $('.carousel-inner .carousel-item').each(function() {
        var slideHeight = $(this).height();
        if (slideHeight > maxHeight) {
          maxHeight = slideHeight;
        }
      });
    
      // Set the height of .carousel-inner to the maximum slide height
      $('.carousel-inner').height(maxHeight + 20);
    });
  </script>
  <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
  <script>
      // Pripojenie k serveru Socket.IO
      //const socket = io();
      const socket = io('wss://leagme.com', {transports: ['websocket'] });
    
    socket.on('disconnect', () => {
        console.log('Disconnected from server, attempting to reconnect...');
        socket.connect();  // Reconnect logic
    });

      // Po pripojení na server
      socket.on('connect', function() {
          console.log('Connected to server');
          socket.emit('join', { username:  'YourUsername', room: 'YourRoom' });
      });
  
      // Po prijatí správy
      socket.on('message', function(data) {
          console.log(data.msg);
        //  sendMessage("msg");
      });
  
      // Odoslanie správy
      function sendMessage(msg) {
          socket.emit('send_message', { msg: msg, room: 'YourRoom' });
      }
  </script>

  </body>
</html>
