<div class="container">
    <br />

  <div class="row align-items-center justify-content-center">
  <div class="col-12 align-items-center justify-content-center" style="width:100%; text-align: center;">
    <a href='/'>

      <img
      src="{{ url_for('static', filename='img/sipka-2.svg') }}"
      width="100px"
      class="filter-foot"
      
      />
    </a>
  </div>

  <div class="footer-text">
    <center>
        <h5>©4nolimit. Powered by appdesign.sk</h5>
    </center>
 </div>
</div>
</div>


<br />
<br />
<br />
<br />
<br />
