{% block content %}
<script src="https://js.stripe.com/v3/"></script>

<style scoped>
    body {
        color: aliceblue;
    }

    .product-card {
        max-width: 290px;
        border: 3px solid #4CAF50;
        padding: 12px;
        margin-bottom: 20px;
        border-radius: 22px;
        opacity: 0;
        animation: fadeIn22 .3s ease-in-out .41s forwards;
    }

    @keyframes fadeIn22 {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .product-name {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .product-price {
        margin-bottom: 10px;
    }

    .buy-button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .btn-reverse {
        padding-left: 15px;
        padding-right: 15px;
    }

    .confirm-button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }
</style>

{% for product in products %}
{% if orders is defined and orders %}
{% if product.id==orders[0].produc_id and user.stripe_subscription_id %}

<div class="col-sm-12">
    <div class="product-card">
        <h4 style="font-size: 80%;line-height:86%;padding:0px;margin-top:10px;">My current subscription</h4>
        <div class="product-name"><img src="{{ url_for('static', filename='img/'+ product['title']|lower +'.svg') }}" class="filter-green" width="100%" /></div>
        
        
        <form method="post" action="{{ url_for('auth.cancel_subscription') }}">
            <input type="hidden" name="subscription_id" value="{{user.stripe_subscription_id}}">
            <input type="hidden" name="produc_id" value="{{orders[0].produc_id}}">
            <button id="cancelsubscription" class="btn-reverse" type="submit" style="cursor: pointer;margin-left: 0px;margin-right: 5px;">Cancel Subscription</button>
        </form>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const cancelsubscription = document.getElementById("cancelsubscription");

        cancelsubscription.addEventListener("click", function () {
            // Logic for cancelling the subscription
        });
    });
</script>

{% endif %}
{% endif %}
{% endfor %}

<br>
{% if user.stripe_subscription_id %}
{% set subscribed22 = "display:none"%}
{% set subscribedstyle = 'opacity:0.3;' %}
{% else %}
{% set subscribed = "" %}
{% set subscribedstyle = "copacity:0.1;" %}
{% endif %}

<center>
    <img src="{{ url_for('static', filename='img/pricing.svg') }}" class="filter-green" style="{{subscribed22}}" width="180" />
    <div class="row">
        {% for product in products %}
        {% if loop.index0 == 0 %}
        <!-- ********** PLAYER PRODUCT ********** -->
        <div class="col-sm-12" style="{{subscribed22}}">
            <div class="product-card">
                <div class="product-name"><img src="{{ url_for('static', filename='img/'+ product['title']|lower +'.svg') }}" class="filter-green" width="100%" /></div>

                {% if product['id'] == 45 %}
                <h4 style="font-size: 80%;line-height:86%;padding:0px;margin-top:-20px;">Access to any season</h4>
                {% endif %}
                <div class="product-price">
                    <h1>{{ product['price']|round(0) }} €/m</h1>
                </div>

                <form id="payment-form-player" style="{{subscribed22}}">
                    <!-- Stripe Elements container -->
                    <button  id="buynow_player" type="submit" class="btn-reverse" style="{{subscribed22}}; cursor: pointer;margin-left: 0px;margin-right: 5px;">Subscribe</button>
                    <button  id="submit-button-player" type="submit" class="btn-reverse" style="display:none;cursor: pointer;margin-left: 0px;margin-right: 5px;">Submit Payment</button>
                    <div id="cardz-player">
                        <center><img src="{{ url_for('static', filename='img/paycards.svg') }}" width="180"></center>
                    </div>
                    <div id="card-element-player" style="background-color:bisque;caret-color: #00EE00;display:none;color:#000;border:2px solid #00EE00;margin-top:20px;padding: 8px;border-radius: 12px;">
                        <label for="card-number">Card Number</label>
                        <div id="card-number"></div>

                        <label for="card-name">Full Name</label>
                        <div id="card-name"></div>

                        <label for="card-expiry">Expiry Date</label>
                        <div id="card-expiry"></div>

                        <label for="card-cvc">CVC</label>
                        <div id="card-cvc"></div>
                    </div>
                </form>

                <center>
                    <input {{subscribed22}} type="checkbox" unchecked id="checkcondition_player" name="checkcondition_player" class="form-control-check">
                </center>
                <center>
                    <a href="{{ url_for('views.business_conditions') }}" target="_blank" id="agreecondition_player" style="font-size: 80%;line-height: 67%;"><h4 style="font-size: 80%;line-height: 67%;">I agree with Business Condition</h4></a>
                </center>
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                let paymentInProgress = false;

                const checkbox_player = document.getElementById("checkcondition_player");
                const buynow_player = document.getElementById("buynow_player");
                const agreecondition_player = document.getElementById("agreecondition_player");
                const cardz_player = document.getElementById("cardz-player");
                const cardelement_player = document.getElementById("card-element-player");

                var stripe = Stripe('{{checkout_public_key}}');
                var elements = stripe.elements();

                var style = {
                    base: {
                        fontSize: '17px',
                        color: '#000',
                    },
                };

                var card_player = elements.create('card', {
                    style: style,
                    hidePostalCode: true
                });
                card_player.mount('#card-element-player');

                var form_player = document.getElementById('payment-form-player');
                form_player.addEventListener('submit', function (event) {
                    event.preventDefault();

                    if (checkbox_player.checked) {
                        cardelement_player.style.display = 'block';
                        cardz_player.style.display = 'none';

                        stripe.createPaymentMethod({
                            type: 'card',
                            card: card_player,
                        }).then(function (result) {
                            if (result.error) {
                                console.error(result.error.message);
                            } else {
                                if (!paymentInProgress) {
                                    buynow_player.disabled = true;
                                    buynow_player.innerHTML = 'Processing...';
                                    paymentInProgress = true;
                                    var paymentMethodId = result.paymentMethod.id;

                                    fetch('/user/make_order', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json',
                                        },
                                        body: JSON.stringify({
                                            payment_method_id: paymentMethodId,
                                            email: '{{ user.email }}',
                                            user_id: '{{ user.id }}',
                                            product_id: 45,
                                            amount: 'price_1O3vq1Kr9xveA3fnavSwPRzO',
                                            role_name: 'Player'
                                        }),
                                    })
                                        .then(function (response) {
                                            return response.json();
                                        })
                                        .then(function (data) {
                                            if (data.requires_action) {
                                                stripe.confirmCardPayment(data.payment_intent_client_secret)
                                                    .then(function (result) {
                                                        if (result.error) {
                                                            console.error('Payment failed:', result.error.message);
                                                        } else {
                                                            if (result.paymentIntent.status === 'succeeded') {
                                                                console.log('Payment succeeded');
                                                                location.href = "{{ url_for('views.index', purchase='success') }}";
                                                            }
                                                        }
                                                    });
                                            } else if (data.subscription_id) {
                                                console.log('Subscription created successfully');
                                                location.href = "{{ url_for('views.index', purchase='success') }}";
                                            } else {
                                                console.error('Payment failed');
                                            }
                                        })
                                        .catch(function (error) {
                                            console.error('Fetch error:', error);
                                        });
                                }
                            }
                        });
                    } else {
                        agreecondition_player.innerHTML = "<h3>You must agree with conditions.</h3>";
                        checkbox_player.style.borderColor = "red";
                        console.log("Checkbox is not checked.");
                        setTimeout(function () {
                            checkbox_player.style.borderColor = "#00EE00";
                            agreecondition_player.innerHTML = "<h4 style=\"font-size: 80%;line-height: 67%;\">I agree with Business Conditions.</h4>";
                        }, 2500);
                    }
                });
            });
        </script>

        {% endif %}
        {% if loop.index0 == 1 %}
        <!-- ********** MANAGER PRODUCT ********** -->
        <div class="col-sm-12" style="{{subscribed22}}">
            <div class="product-card">
                <div class="product-name"><img src="{{ url_for('static', filename='img/'+ product['title']|lower +'.svg') }}" class="filter-green" width="100%" /></div>

                {% if product['id'] == 46 %}
                <h4 style="font-size: 80%;line-height:86%;padding:0px;margin-top:-20px;">Access to any season</h4>
                <h4 style="font-size: 80%;line-height:86%;padding:0px;">Creating a season</h4>
                <h4 style="font-size: 80%;line-height:86%;padding:0px;">Manage own season</h4>
                {% endif %}
                <div class="product-price">
                    <h1>{{ product['price']|round(0) }} €/m</h1>
                </div>

                <form id="payment-form-manager" {{subscribed22}}>
                    <button {{subscribed22}} id="buynow_manager" type="submit" class="btn-reverse" style="cursor: pointer;margin-left: 0px;margin-right: 5px;">Subscribe</button>
                    <button {{subscribed22}} id="submit-button-manager" type="submit" class="btn-reverse" style="display:none;cursor: pointer;margin-left: 0px;margin-right: 5px;">Submit Payment</button>
                    <div id="cardz-manager">
                        <center><img src="{{ url_for('static', filename='img/paycards.svg') }}" width="180"></center>
                    </div>
                    <div id="card-element-manager" style="background-color:bisque;caret-color: #00EE00;display:none;color:#000;border:2px solid #00EE00;margin-top:20px;padding: 8px;border-radius: 12px;">
                        <label for="card-number">Card Number</label>
                        <div id="card-number"></div>

                        <label for="card-name">Full Name</label>
                        <div id="card-name"></div>

                        <label for="card-expiry">Expiry Date</label>
                        <div id="card-expiry"></div>

                        <label for="card-cvc">CVC</label>
                        <div id="card-cvc"></div>
                    </div>
                </form>

                <center>
                    <input {{subscribed22}} type="checkbox" unchecked id="checkcondition_manager" name="checkcondition_manager" class="form-control-check">
                </center>
                <center>
                    <a href="{{ url_for('views.business_conditions') }}" target="_blank" id="agreecondition_manager" style="font-size: 80%;line-height: 67%;"><h4 style="font-size: 80%;line-height: 67%;">I agree with Business Condition</h4></a>
                </center>
            </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                let paymentInProgressManager = false;

                const checkbox_manager = document.getElementById("checkcondition_manager");
                const buynow_manager = document.getElementById("buynow_manager");
                const agreecondition_manager = document.getElementById("agreecondition_manager");
                const cardz_manager = document.getElementById("cardz-manager");
                const cardelement_manager = document.getElementById("card-element-manager");

                var stripe = Stripe('{{checkout_public_key}}');
                var elements = stripe.elements();

                var style_manager = {
                    base: {
                        fontSize: '17px',
                        color: '#000',
                    },
                };

                var card_manager = elements.create('card', {
                    style: style_manager,
                    hidePostalCode: true
                });
                card_manager.mount('#card-element-manager');

                var form_manager = document.getElementById('payment-form-manager');
                form_manager.addEventListener('submit', function (event) {
                    event.preventDefault();

                    if (checkbox_manager.checked) {
                        cardelement_manager.style.display = 'block';
                        cardz_manager.style.display = 'none';

                        stripe.createPaymentMethod({
                            type: 'card',
                            card: card_manager,
                        }).then(function (result) {
                            if (result.error) {
                                console.error(result.error.message);
                            } else {
                                if (!paymentInProgressManager) {
                                    buynow_manager.disabled = true;
                                    buynow_manager.innerHTML = 'Processing...';
                                    paymentInProgressManager = true;
                                    var paymentMethodId = result.paymentMethod.id;

                                    fetch('/user/make_order', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json',
                                        },
                                        body: JSON.stringify({
                                            payment_method_id: paymentMethodId,
                                            email: '{{ user.email }}',
                                            user_id: '{{ user.id }}',
                                            product_id: 46,
                                            amount: 'price_1O3vryKr9xveA3fnqYnskbdW',
                                            role_name: 'Manager'
                                        }),
                                    })
                                        .then(function (response) {
                                            return response.json();
                                        })
                                        .then(function (data) {
                                            if (data.requires_action) {
                                                stripe.confirmCardPayment(data.payment_intent_client_secret)
                                                    .then(function (result) {
                                                        if (result.error) {
                                                            console.error('Payment failed:', result.error.message);
                                                        } else {
                                                            if (result.paymentIntent.status === 'succeeded') {
                                                                console.log('Payment succeeded');
                                                                location.href = "{{ url_for('views.index', purchase='success') }}";
                                                            }
                                                        }
                                                    });
                                            } else if (data.subscription_id) {
                                                console.log('Subscription created successfully');
                                                location.href = "{{ url_for('views.index', purchase='success') }}";
                                            } else {
                                                console.error('Payment failed');
                                            }
                                        })
                                        .catch(function (error) {
                                            console.error('Fetch error:', error);
                                        });
                                }
                            }
                        });
                    } else {
                        agreecondition_manager.innerHTML = "<h3>You must agree with conditions.</h3>";
                        checkbox_manager.style.borderColor = "red";
                        console.log("Checkbox is not checked.");
                        setTimeout(function () {
                            checkbox_manager.style.borderColor = "#00EE00";
                            agreecondition_manager.innerHTML = "<h4 style=\"font-size: 80%;line-height: 67%;\">I agree with Business Conditions.</h4>";
                        }, 2500);
                    }
                });
            });
        </script>

        {% endif %}
        {% endfor %}
    </div>
</center>
</div>
{% endblock %}
