{% extends "base.html" %}
{% block title %}
  Leagme - Create Tournament
{% endblock %}
{% block content %}
<style scoped>
    .form-control {
        font-size: 80px;
        text-align: center;
    }

    .form-group option {
        padding-top: 16px;
        padding-bottom: 10px;
        background-color: black;
        color: #00ff00;
        font-size: 32px;
        text-align: center;
        border: 0px;
    }
    option{
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: black;
        color: #00ff00;
        font-size: 82px; /* Nastavte požadovanú veľkosť písma */
    }

    select {
        background-color: black;
        cursor: pointer;
    }

    /* Farba pri hover */
    select option:hover {

    }

    /* Farba pre vybratú možnosť */
    select option:checked {
        background-color: black;
        color: white;
    }

</style>
<h1 align="center"><img src="{{ url_for('static', filename = 'img/'+ head +'.svg') }}" class="filter-green" width="290" /></h1>
<div class="content-section">
    <br>
    <form action="" method="post" class="form" role="form" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.name.label(class="form-control-label createforms") }}
                {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid ") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(autocomplete="off", class="form-control form-control-lg  createforms") }}
                {% endif %}
            </div>

            <br>
            <div class="form-group">
                {{ form.min_players.label(class="form-control-label createforms") }}
                {% if form.min_players.errors %}
                    {{ form.min_players(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.min_players.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.min_players(class="form-control form-control-lg createforms") }}
                {% endif %}
            </div>
            <br>
            {% if user_places %}
            <div class="form-group">
                <label for="place_select" class="form-control-label createforms">Select Place</label>
                <select style="font-size: 19px;" id="place_select" name="place_id" class="btn-reverse form-control form-control-lg createforms" require>
                    <option style="font-size: 13px;" value="">choose the venue</option>
                    {% for place in user_places %}
                        <option style="font-size: 13px; background-color: black; color: white;font-size: 13px;cursor: pointer;" value="{{ place.id }}" {% if form.place_id.data == place.id %}selected{% endif %}>
                            {{ place.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            {% else %}
            <br>
            <div class="form-group" style="max-width: 220px;">
                <button class="btn btn-reverse" onclick="javascript:location.href='{{ url_for('views.new_place') }}';" >Create your first place >></button>
            </div>
            {% endif %}
            <br>
            <div class="form-group">
                {{ form.open.label(class="form-control-label createforms") }}
                {% if form.open.errors %}
                    {{ form.open(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.open.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.open(class="form-control form-control-lg createforms") }}
                {% endif %}
            </div>
            <br>
            <div class="form-group">
                {{ form.visible.label(class="form-control-label createforms") }}
                {% if form.visible.errors %}
                    {{ form.visible(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.visible.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.visible(class="form-control form-control-lg createforms") }}
                {% endif %}
            </div>
            <input type="hidden" id="season_type" name="season_type" value="2">
            {% for field, errors in form.errors.items() %}
            <div class="alert alert-danger">
                <strong>{{ field.label }}:</strong> {{ errors }}
            </div>
        {% endfor %}
           <!--

               <div class="form-group">
                   {{ form.season_from.label(class="form-control-label") }}
                   {% if form.season_from.errors %}
                   {{ form.season_from(class="form-control form-control-lg is-invalid") }}
                   <div class="invalid-feedback">
                        {% for error in form.season_from.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.season_from(class="datepicker form-control form-control-lg") }}
                    {% endif %}
                </div>
            -->

<br>
<br>
<br>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn-demo btn-outline-info createforms", value=title, id="submit_button", disabled=False) }}
        </div>
        
    </form>
<br>
{% if season %}
    <button onclick="javascript:location.href='{{ url_for('views.season_manager', season=season.id) }}';" class="btn btn-sm createforms2">Back</button>
{% else %}
    <button onclick="javascript:location.href='{{ url_for('views.index') }}';" class="btn btn-sm createforms2">Back</button>
{% endif %}
</div>

<script>
    window.onload = function() {
        const minPlayersSelect = document.getElementById('min_players');
        const minPlayersError = document.getElementById('min_players_error');
        const submitButton = document.getElementById('submit_button');
    
        // Skontrolujeme, či prvky existujú
        if (minPlayersSelect && minPlayersError && submitButton) {
            function validateMinPlayers() {
                const minPlayersValue = minPlayersSelect.value;
                let errorMessage = '';
    
                // Overenie, či bola hodnota vybraná
                if (!minPlayersValue || minPlayersValue === '') {
                    errorMessage = 'Please select a valid number of players.';
                }
    
                // Zobrazenie alebo odstránenie chybového hlásenia
                minPlayersError.textContent = errorMessage;
    
                // Ak je chyba, tlačidlo je zakázané, inak povolené
                submitButton.disabled = !!errorMessage;
            }
    
            // Validácia sa spustí pri zmene výberu
            minPlayersSelect.addEventListener('change', validateMinPlayers);
    
            // Zavoláme validáciu pri načítaní stránky, aby sa tlačidlo aktualizovalo
            validateMinPlayers();
        } else {
            console.error("Elementy s ID 'min_players', 'min_players_error' alebo 'submit_button' neboli nájdené.");
        }
    };
    
    
</script>

{% endblock content %}
