{% extends "base.html" %} {% block title %}Šípkareň{% endblock %} {% block
content %}
<br />

<div class="container">
  <div class="row">
    <div class="col">
          <ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
      {{ note.data }}
      <button type="button" class="close" onClick="deleteNote({{ note.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
    {% endfor %}
  </ul>
  <form method="POST">
  <textarea
    name="note"
    id="note"
    cols="20"
    rows="2"
    class="form-control"
  ></textarea>
  <div align="center">
    <button type="submit" class="btn btn-outline-dark mt-4 btn-block">
      <i class="fa fa-circle-o-notch fa-spin"></i>
      Add result
    </button>
  </div>
</form>
    </div>
  </div>
</div>

{% endblock %}
