{% extends "base.html" %} {% block title %}DartsClub - Season Players{% endblock %} 
{% block content %}
    {% set lang = 0 %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <style scoped>
        .user-result{
            font-size: 111%;
            font-weight: 700;

        }

        .draggable-row-group{
            margin-top: 5px;
            border-bottom: 13px solid #00EE00;
        }

        .draggable-row{
            padding-bottom: 6px;
        }
        .draggable-row:hover{
            background-color: black;
            border-top: 1px solid rgba(0, 238, 0, 0.38);
            border-bottom: 1px solid rgba(0, 238, 0, 0.38);

        }

        tr{
            border-bottom: 1px solid rgba(0, 238, 0, 0.11);
            padding: 3px;
            cursor:grab;
        }

        thead{
            margin-top: 25px;
            padding-top: 25px;

        }

        th{
            padding: 4px;
        }
    </style>
    <br>
<center>
    <img
    src="{{ url_for('static', filename='img/logo.svg') }}"
    class="filter-green"
    width="250"
    />
</center><br>
    {% if seasons %}
    <h2>{{ seasons[0][0].name }}</h2>
    {% else %}
        <h4>No Rounds available.</h4>
    {% endif %}
<table class="table-sortable" id="userSeasonTable">
    <thead style="margin-bottom:20px;">
        <tr>
            <th>#</th>
            <th>Player</th>
            <th></th>
        </tr>
    </thead>
    <br>
    <tbody >
        <!-- Table rows populated by JavaScript -->
    </tbody>
</table>
<br><br>
<form id="addUserToSeasonForm">
    <label for="userSelect"><h4>Search User to Add</h4></label>
    <br>
    <input type="text" id="userSearch" name="user_search" placeholder="SEARCH">
    <button type="button" class="btn-reverse" id="addUserToSeasonButton" style="margin-top:8px;width:88px;display:none;"></button>

    <div style="margin-top: 11px; padding: 14px;border:0px solid #00EE00;" id="userSearchResults"></div>

</form>
<script>
    $(document).ready(function() {
        $('#userSearch').on('input', async function() {
            var query = $(this).val();
            if (query.length>1){

                    const response = await fetch('/season/{{season}}/search_users', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ query: query })
                    });

                    if (response.ok) {
                        const users = await response.json();
                        var userSearchResultsHTML = '';
                        for (var i = 0; i < users.length; i++) {
                            userSearchResultsHTML += '<div class="user-result" style="width:233px;cursor:pointer;border-bottom:1px solid rgba(0,238,0,0.3);" data-id="' + users[i].id + '"><h4>' + users[i].first_name + '</h4></div>';
                        }
                        $('#userSearchResults').html(userSearchResultsHTML);
                    } else {
                        $('#userSearchResults').html('Chyba pri vyhľadávaní');
                    }

            }
        });

        $(document).on('click', '.user-result', function() {
            var userId = $(this).data('id');
            $('#userSearch').val($(this).text());
            $('#addUserToSeasonButton').text('Add player');
            $('#addUserToSeasonButton').css('display', 'block').data('userId', userId);
            $('#userSearchResults').html('');
        });

        $('#addUserToSeasonButton').click(async function() {
            var user_id = $(this).data('userId');
            var season_id = {{season}};

            try {
                const response = await fetch('/season/add_user_to_season', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ user_id: user_id, season_id: season_id })
                });

                if (response.ok) {
                    const data = await response.json();
           
                    refreshTable();
                    $('#addUserToSeasonButton').css('display','none');
                    $('#userSearch').val('');

                } else {
                    const errorData = await response.json();
                   // alert('Chyba: ' + errorData.error);
                }
            } catch (error) {
                console.error('Chyba:', error);
            }
        });

        function refreshTable() {
            var classs='';
            $.get('/season/{{season}}/get_user_seasons', function(data) {
                //alert(data);
                var tbody = $("#userSeasonTable tbody");
                tbody.empty();
                data.forEach(function(item) {
                    if(item.orderz % 5 === 0){classs="draggable-row";}else{classs="draggable-row";}
                    var row = `<tr style="width:269px;padding-bottom:5px;" class="${classs}" data-user-id="${item.user_id}" data-season-id="${item.season_id}">                        
                        <td style="width:33px;padding-bottom:5px;">${item.orderz}</td><td style="width:203px;padding-bottom:5px;">${item.season_first_date}</td>
                        <td style="width:33px;padding-bottom:5px;"><button style="margin-right:20px;" class="btn-reverse delete-btn">x</button></td>
                    </tr>`;
                    var newRow = $(row); // Konvertujte riadok na jQuery objekt
                    newRow.hide(); // Skryte nový riadok pred fadeIn()
                    tbody.append(newRow);
                    newRow.fadeIn(); // Použite fadeIn() na zobrazenie nového riadku
                });
                tbody.sortable({
                    update: function(event, ui) {
                        var data = [];
                        tbody.find("tr").each(function(index) {
                            data.push({
                                user_id: $(this).data("user-id"),
                                season_id: $(this).data("season-id"),
                                orderz: index
                            });
                        });
                        $.ajax({
                            type: 'POST',
                            url: '/season/update_order',
                            data: JSON.stringify(data),
                            contentType: 'application/json',
                            dataType: 'json',
                            success: function(response) {
                                console.log(response);
                                refreshTable();
                            }
                        });
                    }
                }).disableSelection();
            });
        }

        refreshTable();

        $(document).on("click", ".delete-btn", function() {
            var tr = $(this).closest("tr");
            var data = {
                user_id: tr.data("user-id"),
                season_id: tr.data("season-id")
            };
            $.ajax({
                type: 'POST',
                url: '/season/delete_row',
                data: JSON.stringify(data),
                contentType: 'application/json',
                dataType: 'json',
                success: function(response) {
                    tr.fadeOut(function() {
                        // Po dokončení animácie môžete odstrániť riadok z DOM
                        tr.remove();
                    });
                    console.log(response);
                }
            });
        });
    });
</script>

<div
class="modal fade"
id="season-delete"
tabindex="-1"
role="dialog"
aria-labelledby="deleteModalLabel"
aria-hidden="true"
>
<div class="modal-dialog" role="document">
  <div class="modal-content">

    <div class="modal-header">
      <h1 class="modal-title">Delete „{{seas.name}}“?</h1>
     <br>
      <form
        class=""
        method="POST"
      >
        <button class="btn2 btn-sm" style="font-weight: 700;padding-left: 10px;padding-right: 10px;padding-top: 4px;"  type="submit" value="OK" />DELETE</button>
      </form>
      <button style="font-weight: 700;" type="button" class="btn3 btn-sm" data-bs-dismiss="modal">
        NO
      </button>

    </div>
  </div>
</div>
</div>
<script>
    document.getElementById('addUserToSeasonButton').addEventListener('click', async function() {
        var user_id = $('#userSelect').val();
        var season_id = $('#seasonSelect').val();
  
        try {
            const response = await fetch('/season/add_user_to_season', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ user_id: user_id, season_id: season_id })
            });
  
            if (response.ok) {
                const data = await response.json();
                alert(data.message);
            } else {
                const errorData = await response.json();
               // alert('Chyba: ' + errorData.error);
            }
        } catch (error) {
            console.error('Chyba:', error);
        }
  });
</script>
{% endblock %}